body{
    background-color: rgba(0, 0, 0, 0.993);
}
.jumbotron {
    height: 600px;
    background-image: url("pictures/burrito.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-heading {
    border: 2px solid rgb(250, 203, 101);
    border-radius: 100px;
    background-color: rgb(250, 203, 101);
  }
  .menu-heading1 {
    border: 2px solid #a1d2da;
    border-radius: 100px;
    background-color: #a1d2da;
    color:rgb(241, 241, 241)
  }
p, h3, h4 {
    color: rgb(224, 182, 118);
}
@font-face {
    font-family:'Fjalla One' ;
    src: url(./font/Fjalla_One/FjallaOne-Regular.ttf);
    font-style: normal;
    font-weight: 100px;
}
h1{
    font-family:'Fjalla One';
    text-align: center;
    color: black;
}
h2, h4, h5{
    font-family:'Fjalla One';
    color: rgb(250, 203, 101);
    text-align: center;
    color: black;
}
h3{
    font-family:'Fjalla One';
    color: black;
    text-align: center;
    
}
.card-text {
    color: black;
}
footer{
    background-color: #a1d2da ;
  }
