body{
    background-color: rgba(0, 0, 0, 0.993);
}
.jumbotron {
    height: 600px;
    background-image: url("pictures/burrito.PNG");
}
h1 {
    color: #ecca98;
    text-align: center;
}
.menu-heading {
    border: 2px solid #ecca98;
    border-radius: 100px;
    border-
  }